{% extends '_base.html' %}

{% block title %}
    жалоба №{{object.pk}}
{% endblock title %}

{% block content %}
    <h2>Жалоба №{{object.pk}}|{{object.title}}</h2>
    <p>{{object.text}}</p>
    {% for picture in object.reportimage_set.all %}
        <img src="{{picture.img.url}}" alt="">
    {% empty %}
        <tr>No pictures</tr>
    {% endfor %}
    <a href="{% url 'webpanels:reports' %}">Назад</a>
{% endblock content %}