{% extends '_base.html' %}

{% block title %}
    Список жалоб
{% endblock title %}

{% block content %}
<h2>List of reports here</h2>
<table>
    <th>
        <td>ID</td>
        <td>Title</td>
        <td>Author</td>
        <td>Urgent</td>
    </th>
    {% for report in object_list %}
    <tr>
        <td>{{report.pk}}</td>
        <td><a href="{% url 'webpanels:report' pk=report.pk %}">Report {{report.pk}}</a></td>
        <td>User23432</td>
        <td>Not urgent</td>
    </tr>
    {% empty %}
        <tr>No reports found</tr>
    {% endfor %}

-->Pagination
{% endblock content %}