{% extends '_base.html' %}

{% block title %}
    Главная
{% endblock title %}

{% block content %}
<h2>Hello world</h2>
<h3>Table of all reports <a href="{% url 'webpanels:reports' %}">here</a></h3>
{% endblock content %}
