<h3>Вход</h3>

<form action="" method=""POST>
    <label for="username">Введите имя пользователя</label>
    <input type="text" name="username" id="username">
    <label for="password">Введите пароль</label>
    <input type="password" name="password" id="password">
    <button type="submit">Войти</button>
</form>